<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="detectProductChanges" instance="B2bapp\UpdateHandler\Observer\ProductChangeObserver" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="detectProductDelete" instance="B2bapp\UpdateHandler\Observer\ProductChangeObserver" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="detectCategoryChanges" instance="B2bapp\UpdateHandler\Observer\CategoryChangeObserver" />
    </event>
    <event name="catalog_category_delete_after">
        <observer name="detectCategoryDelete" instance="B2bapp\UpdateHandler\Observer\CategoryChangeObserver" />
    </event>
</config>